@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutSupervisor";
}
<main>

    <div class="page-header add">
        <h1>Post Detail</h1>
    </div>

    <div class="page-content">
        <div class="post-detail-super">
            <div>
                <span>PostId</span>
                <p>PostId</p>
                <div class="detail-painting-btn" style="position:absolute; right:5%;">
                    <div class="add">
                        <button>Enable</button>
                    </div>
                    <div class="add">
                        <button>Disable</button>
                    </div>
                </div>
            </div>
            <div>
                <span>Post Title</span>
                <p>Post Title</p>
            </div>
            <div>
                <span>Post Content</span>
                <p>Post Content</p>
            </div>
            <div>
                <span>Date</span>
                <p>Date</p>
            </div>
            <div>
                <span>User Name</span>
                <p>User Name</p>
            </div>
            <div>
                <span>Status</span>
                <p>Status</p>
            </div>
            <div>
                <span>View</span>
                <p>View</p>
            </div>
            <div>
                <span>Image</span>
                <div class="detail-painting-image" style="height: 300px;width: 1000px;position: relative;left: 25%;">

                    <div class="field">
                        <img style="height: 80%; width:auto; margin-top: 1%;" src="/Image/login.jpg" />
                    </div>
                </div>
            </div>
        </div>

        <div>
            Comment. M tu lam nha thanh
        </div>
    </div>
</main>