@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutLogin";
}
<script>
    function submitEmail(formName) {
        var form = document.getElementsByName(formName)[0];
        form.submit();
    }
</script>
<div class="container d-flex justify-content-center align-items-center min-vh-100"
     style="max-width: 40%;">
    <div class="row bg-white shadow box-area">
        <div class="">
            <div class="row align-items-center">
                <div class="header-text mb-4 text-wrap text-center"
                     style="
                font-family: 'Courier New', Courier, monospace;
                font-weight: 600;
              ">
                    <br />
                    <h2>Forgot Password</h2>
                    <br />
                    <p>Enter Email</p>
                    <p style="color: red">@ViewBag.alert</p>
                    <p style="color: green">@ViewBag.noti</p>
                </div>
                <form name="emailForm" method="post" asp-action="ForgotPassword">
                    <div class="input-group mb-3">
                        <input value="@ViewBag.email" type="text" name="email" 
                               class="form-control form-control-lg bg-light fs-6"
                               placeholder="Email address" />
                    </div>
                </form>
                <div class="input-group mb-3 justify-content-between">
                    <div>
                        <br>
                        <button onclick="submitEmail('emailForm');" class="btn btn-lg btn-primary">
                            <a onclick="return false;" href="#"
                               class="text-white"
                               style="text-decoration: none">Send Email</a>
                        </button>
                    </div>
                    <div>
                        <br>
                        <button class="btn btn-lg btn-primary">
                            <a asp-area="" asp-controller="Login" asp-action="Login"
                               class="text-white"
                               style="text-decoration: none">Back to Login</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>